{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block nav %}
<text style="font-weight:bold; color:white; font-size:20px">Administration Section</text>
<div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          </li>
        </ul>
      </div>
{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <h2 style="font-weight: bold">Search the user you wanna check</h2>
    <br/>
        <form class="search" method="POST" action="/admin" id="op">
            <input type="text" name="search" id="userFind">
            <select id="filter" name="field">
                <option value="firstName">First name</option>
                <option value="lastName">Last name</option>
                <option value="username">Username</option>
                <option value="email">Email</option>
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
<!--        <script>-->
<!--        var form = document.getElementById('op')-->
<!--        form.addEventListener('submit',function(e){-->
<!--        e.preventDefault()-->
<!--        var user = document.getElementById('userFind').value-->
<!--        var option = document.getElementById('filter').value-->
<!--        fetch("http://127.0.0.1:5000/admin", {-->
<!--            method: 'POST',-->
<!--            body: JSON.stringify({-->
<!--                search: user,-->
<!--                field: option-->
<!--            }),-->
<!--            headers:{-->
<!--                "Content-Type":"application/json; charset=UTF-8"-->
<!--            }-->
<!--        })-->
<!--        .then(function(response){-->
<!--            e.preventDefault()-->
<!--            var url = "http://127.0.0.1:5000/admin"-->
<!--            window.location = url-->
<!--            console.log(response)-->
<!--            console.log(re)-->
<!--        })-->
<!--        .then(function(data){-->
<!--            console.log("hll")-->
<!--            console.log(data)-->
<!--        })-->
<!--    })-->

<!--        </script>-->
        <div class="container">
            {% if found == 0 %}
            <p style="font-weight:bold">No such user!</p>
            {% else %}
            {% for c in customers %}
                <tr>
                    <p style="font-weight:bold">Matched User: </p>
                    <td><span class="col1">First name: </span><span>{{c.first_name}}</span></td>
                    </br>
                    <td><span class="col1">Last name: </span><span>{{c.last_name}}</span></td>
                    </br>
                    <td><span class="col1">Email: </span><span>{{c.email}}</span></td>
                    </br>
                    <td><span class="col1">Username: </span><span>{{c.username}}</span></td>
                    </br>
                    <td><span class="col1">Address: </span><span>{{c.address}}</span></td>
                    </br>
                    {% if c.accounts|length == 0 %}
                    <td><span class="col1">Accounts: </span><span>N/A</span></td>
                    {% else %}
                    {% for account in c.accounts %}
                    <td><span class="col1">{{account.type}} account number: </span><span>{{account.number}}</span></td><br/>
                    <td><span class="col1">{{account.type}} account balance: </span><span>${{account.balance}}</span></td><br/>
                    {% endfor %}
                    {% endif %}
                    </br>

                        <form method="POST" action="/account_management" id="goto_account_management">
                            <button name="id" type="submit" class="btn btn-primary" value={{c.id}} id="open">Open account</button>
                        </form>
                        <br/>
                        <form method="POST" action="/deposit_info">
                            <button name="id" type="submit" class="btn btn-primary" value={{c.id}}>Deposit money</button>
                        </form>

                    <br/>
                    <p style="font-weight:bold">Close account for user</p>
                    <form method="POST" action="/close_account">
                          <input type="checkbox" id="checking" name="checking" value="checking">
                          <label for="checking"> Checking Account</label><br>
                          <input type="checkbox" id="saving" name="saving" value="saving">
                          <label for="saving"> Saving Account </label><br>
                          <input type="checkbox" id="credit" name="credit" value="credit">
                          <label for="credit"> Credit Account </label><br><br>
                        <button name="id" type="submit" class="btn btn-primary" value={{c.id}}>Close account</button>
                    </form>
                    </br>
                </tr>
                </br>
            {% endfor %}
            {% endif %}
        </div>
    </form>
</div>



{% endblock %}