{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block nav %}
<text style="font-weight:bold; color:white; font-size:20px">Administration Section</text>
{% endblock %}
{% block content%}
<div class="container">
    <form method="POST">
{% for k, v in dict.items()%}
    <details>
        <summary>{{ v[1] }} </summary>
        <ul>
            {% if v|length < 4 %}
            <li>Name: {{ v[2] }}</li>
            {% else %}
            <li>Name: {{ v[2] + ' ' + v[3] }}</li>
            {% endif %}
            <li>Email: {{ v[0] }}</li>
        </ul>
    </details>

{% endfor %}
    </form>
</div>
{% endblock %}