{% extends "base.html" %}
{% block title %}Checking Account{% endblock %}
{%block nav%}
<a class="navbar-brand" href="#">Good Day!
  {% if user.last_name == None %}
  {{ user.first_name  + '!'}}
  {% else %}
  {{user.first_name + ' ' + user.last_name + '!'}}
  {% endif %}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav">
          {% if user.id == 1 %}
          <li class="nav-item active">
          <a class="nav-item nav-link" id="admin" href="/admin" style="font-weight:bold">Administration Section</a>
          </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/checking">Checking Account</a>
          <a class="dropdown-item" href="/saving">Saving Account</a>
          <a class="dropdown-item" href="/credit">Credit Account</a>
        </div>
          </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transaction1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pay & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
          <a class="dropdown-item" href="/wire">Wire money</a>
        </div>
          </li>
          {% else %}
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/checking">Checking Account</a>
          <a class="dropdown-item" href="/saving">Saving Account</a>
          <a class="dropdown-item" href="/credit">Credit Account</a>
        </div>
          </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pay & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
          <a class="dropdown-item" href="/wire">Wire money</a>
        </div>
          </li>
          {% endif %}
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          </li>
        </ul>
      </div>
      </div>
{% endblock %}
{% block content%}
<div class="container">
  <h2>Checking Account</h2>
  <p>Balance：${{ account.balance }}</p>
  <p>Transactions: </p>
  {% for r in records %}
  {% if r[0].type == 'income' %}
  <p style="color:green">+ ${{r[0].amount}}  {{r[0].time}} {{r[1]}}</p>
  {% else %}
  <p style="color:red">- ${{r[0].amount}} {{r[1].time}} {{r[1]}}</p>
  {% endif %}
  {% endfor %}
</div>
{%endblock%}