{% extends "base.html" %}
{% block title %}Credit Account{% endblock %}
{%block nav%}
<a class="navbar-brand" href="#">Good Day!
  {% if user.last_name == None %}
  {{ user.first_name  + '!'}}
  {% else %}
  {{user.first_name + ' ' + user.last_name + '!'}}
  {% endif %}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav">
          {% if user.id == 1 %}
          <li class="nav-item active">
          <a class="nav-item nav-link" id="admin" href="/admin" style="font-weight:bold">Administration Section</a>
          </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/checking">Checking Account</a>
          <a class="dropdown-item" href="/saving">Saving Account</a>
          <a class="dropdown-item" href="/credit">Credit Account</a>
        </div>
          </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transaction1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pay & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
          <a class="dropdown-item" href="/wire">Wire money</a>
          <a class="dropdown-item" href="/recurring">Recurring Transfer</a>
        </div>
          </li>
          {% else %}
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/checking">Checking Account</a>
          <a class="dropdown-item" href="/saving">Saving Account</a>
          <a class="dropdown-item" href="/credit">Credit Account</a>
        </div>
          </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pay & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
          <a class="dropdown-item" href="/wire">Wire money</a>
          <a class="dropdown-item" href="/recurring">Recurring Transfer</a>
        </div>
          </li>
          {% endif %}
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          </li>
        </ul>
      </div>
      </div>
{% endblock %}
{% block content%}
{% if account is none %}
<p>You don't have a credit account yet, please contact the bank to open!</p>
{% else %}
<div class="container">


  <div class="row">
    <div class="col 4"></div>
    <div class="col 4">
      <h1 class="text=body">Credit Account</h1>
    </div>
    <div class="col 4"></div>
  </div>

  <br>

    <div class="row">
      <div class="col 2"></div>
      <div class="col 8">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-usd"></span>
                  Remaining Balance
              </h3>
            </div>
            <div class="panel-body">

               ${{ account.balance }}
            </div>
        </div>
      </div>
      <div class="col 2"></div>
</div>


</div>
{% endif %}
{%endblock%}