{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%block nav%}
<a class="navbar-brand" href="#">Good Day!
  {% if user.last_name == None %}
  {{ user.first_name  + '!'}}
  {% else %}
  {{user.first_name + ' ' + user.last_name + '!'}}
  {% endif %}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
          {% if user.id == 1 %}
          <li class="nav-item active">
          <a class="nav-item nav-link" id="admin" href="/admin" style="font-weight:bold">Administration Section</a>
          </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/checking">Checking Account</a>
          <a class="dropdown-item" href="/saving">Saving Account</a>
          <a class="dropdown-item" href="/credit">Credit Account</a>
        </div>
          </li>
          </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transaction1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pay & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
          <a class="dropdown-item" href="/wire">Wire money</a>
          <a class="dropdown-item" href="/recurring">Recurring Transfer</a>
        </div>
          </li>
          {% else %}
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/checking">Checking Account</a>
          <a class="dropdown-item" href="/saving">Saving Account</a>
          <a class="dropdown-item" href="/credit">Credit Account</a>
        </div>
          </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pay & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
          <a class="dropdown-item" href="/wire">Wire money</a>
          <a class="dropdown-item" href="/recurring">Recurring Transfer</a>
        </div>
          </li>
          {% endif %}
        </ul>
      </div>
{% endblock %}
{% block content%}
<div class="container">

     <h2 class="text-body">Account Summary</h2>



  {% set ns1 = namespace(checking_flag = 0) %}
  {% set ns2 = namespace(saving_flag = 0) %}
  {% set ns3 = namespace(credit_flag = 0) %}

  {% for account in user.accounts %}
    {% if account.type == 'checking' %}


          <div class="row">
            <div class="col 6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          CHECKING ACCOUNT
                      </h3>
                  </div>
                  <div class="panel-body">
                      ${{account.balance}}
                  </div>
                </div>
            </div>
          </div>
          {% set ns1.checking_flag = 1 %}

      {% elif account.type == 'saving' %}
            <div class="row">
                <div class="col 6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <h3 class="panel-title">
                                    SAVING ACCOUNT
                                </h3>
                        </div>
                        <div class="panel-body">
                                ${{account.balance}}
                        </div>
                    </div>
                </div>
            </div>
              {% set ns2.saving_flag = 1 %}
        {% elif account.type == 'credit' %}
            <div class="row">
                 <div class="col 6">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        CREDIT ACCOUNT
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    ${{account.balance}}
                                </div>
                        </div>
                </div>
                </div>
              {% set ns3.credit_flag = 1 %}
            {% endif %}


{% endfor %}


             {% if ns1.checking_flag == 0 %}
                  <div class="row">
                     <div class="col 6">
                         <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                    CHECKING ACCOUNT
                                </h3>
                              </div>
                              <div class="panel-body">
                                      N/A:    No Checking Account Available!
                              </div>
                        </div>
                      </div>
                    </div>
              {% endif %}



              {% if ns2.saving_flag == 0 %}
                  <div class="row">
                     <div class="col 6">
                         <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                    SAVING ACCOUNT
                                </h3>
                              </div>
                              <div class="panel-body">
                                      N/A:    No Saving Account Available!
                              </div>
                        </div>
                      </div>
                    </div>
              {% endif %}



              {% if ns3.credit_flag == 0 %}
                  <div class="row">
                     <div class="col 6">
                         <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                    CREDIT ACCOUNT
                                </h3>
                              </div>
                              <div class="panel-body">
                                    N/A:    No Credit Account Available!
                              </div>
                        </div>
                      </div>
                    </div>
              {% endif %}









  <div class="row">
        <div class="col 12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      NEWS!!
                  </h3>
              </div>
              <div class="panel-body">
                  abcjdcjs
              </div>
          </div>
        </div>
  </div>



</div>
{%endblock%}