{% extends "base.html" %}
{% block title %}Login{% endblock %}
{%block nav%}
<text style="font-weight:bold; color:white; font-size:20px">"It’s our business to know your business."</text>
{% endblock %}
{%block content%}
<div class="container">
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="loginpass">Username/Email Address</label>
        <input
                type="loginpass"
                class="form-control"
                id="loginpass"
                name="loginpass"
                placeholder="Enter your username or email"
        />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}
