{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <h2 style="font-weight: bold">Accounts for {{customer.first_name}} {{customer.last_name}}</h2>
    <br/>
    <form method="POST" action="/open_account">
        <div class="form-group">
            <label for="balance">Initial Balance/Credit</label>
            <input
                    type="number"
                    class="form-control"
                    id="balance"
                    name="balance"
            />
        </div>
        <select id="type" name="type">
            <option value="checking">Checking Account</option>
            <option value="saving">Saving Account</option>
            <option value="credit">Credit Account</option>
        </select>
        <input type="hidden" name="customer_id" value={{customer.id}}>
        <button type="submit" class="btn btn-primary">Open account</button>
    </form>

</div>
{% endblock %}