{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content%}
<div class="container">
    {% if found == 0 %}
    <p style="font-weight:bold">No such user!</p>
    {% else %}
    {% for c in customers %}
    <tr>
        <p style="font-weight:bold">Matched User: </p>
        <td><span class="col1">First name: </span><span>{{c.first_name}}</span></td>
        </br>
        <td><span class="col1">Last name: </span><span>{{c.last_name}}</span></td>
        </br>
        <td><span class="col1">Email: </span><span>{{c.email}}</span></td>
        </br>
        <td><span class="col1">Username: </span><span>{{c.username}}</span></td>
        </br>
        <td><span class="col1">Address: </span><span>{{c.address}}</span></td>
        </br>
        {% if c.accounts|length == 0 %}
        <td><span class="col1">Accounts: </span><span>N/A</span></td>
        {% else %}
        {% for account in c.accounts %}
        <td><span class="col1">{{account.type}} account number: </span><span>{{account.number}}</span></td>
        <br/>
        <td><span class="col1">{{account.type}} account balance: </span><span>${{account.balance}}</span></td>
        <br/>
        {% endfor %}
        {% endif %}
        </br>

        <form method="POST" action="/account_management">
            <button name="id" type="submit" class="btn btn-primary" value={{c.id}}>Open account</button>
        </form>
        <br/>
        <form method="POST" action="/deposit_info" id="deposit">
            <button name="id" type="submit"  id="user" class="btn btn-primary" value={{c.id}}>Deposit money</button>
        </form>

        <br/>
        <p style="font-weight:bold">Close account for user</p>
        <form method="POST" action="/close_account" id="close">
            <input type="checkbox" id="checking" name="checking" value="checking">
            <label for="checking"> Checking Account</label><br>
            <input type="checkbox" id="saving" name="saving" value="saving">
            <label for="saving"> Saving Account </label><br>
            <input type="checkbox" id="credit" name="credit" value="credit">
            <label for="credit"> Credit Account </label><br><br>
            <button name="id" type="submit" class="btn btn-primary" id="cus" value={{c.id}}>Close account</button>

        </form>
        </br>
        <button onclick="location.href='/admin'" class="btn btn-primary">Back to search</button>
    </tr>
    </br>
    {% endfor %}
    {% endif %}

</div>

<script>
   var form = document.getElementById('close')
   form.addEventListener('submit',function(e){
       e.preventDefault()

       var customerID1 = document.getElementById('cus').value

       if(document.getElementById("checking").checked){
            var checking1 = true;
       }

       if(document.getElementById("saving").checked){
            var saving1 = true;
       }

       if(document.getElementById("credit").checked){
            var credit1 = true;
       }

       fetch("http://127.0.0.1/close_account", {
           method: 'POST',
           body: JSON.stringify({
                checking: checking1,
                saving: saving1,
                credit: credit1,
                id: customerID1

           }),
           headers:{
               "Content-Type":"application/json; charset=UTF-8"
           }
       })
       .then(function(response){
           var url = "http://127.0.0.1/"
           window.location = url
           console.log(response)
       })
       .then(function(data){
           console.log("hll")
           console.log(data)
       })
   })
</script>



{% endblock %}