{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <h3>Administration Section</h3>
    <br/>
    <form class="search" method="POST" id="search" action="/admin_search">
        <label>Search the user you wanna check: </label>
        <input type="text" name="search" id="input">
        <select id="filter" name="field">
            <option value="firstName">First name</option>
            <option value="lastName">Last name</option>
            <option value="username">Username</option>
            <option value="email">Email</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>

{% endblock %}