<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/css/template.css" media="screen"/>

    <!--    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning" id="first">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/static/pics/coin.png" width="100" height="100" alt="">
        </a>
        <a class="navbar-brand" href="/"><h1 style=" font-family:Impact, fantasy;">Super Coin Bank</h1></a>
        <a class="navbar-brand" href="/">
            <img src="/static/pics/coin.png" width="100" height="100" alt="">
        </a>

        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-item nav-link to-end" id="user_info" href="/user_info">
                        <img src="/static/pics/person_icon.png" width="25" height="25" alt="">
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link" id="logout" href="/logout" style="font-weight:bold">Logout</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-item nav-link" id="login" href="/login" style="font-weight:bold">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link" id="signUp" href="/sign-up" style="font-weight:bold">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="second">
    {% if user.is_authenticated %}
    <div class="container">
        <a class="navbar-brand" href="/">Good Day!
            {% if user.last_name == None %}
            {{ user.first_name + '!'}}
            {% else %}
            {{user.first_name + ' ' + user.last_name + '!'}}
            {% endif %}
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar1"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                {% if user.id == 1 %}
                <li class="nav-item active">
                    <a class="nav-item nav-link" id="admin" href="/admin" style="font-weight:bold">Administration
                        Section</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="account1" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Accounts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/checking">Checking Account</a>
                        <a class="dropdown-item" href="/saving">Saving Account</a>
                        <a class="dropdown-item" href="/credit">Credit Account</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="transaction1" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Pay & Transfer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
                        <a class="dropdown-item" href="/wire">Wire money</a>
                        <a class="dropdown-item" href="/recurring">Recurring Transfer</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Accounts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/checking">Checking Account</a>
                        <a class="dropdown-item" href="/saving">Saving Account</a>
                        <a class="dropdown-item" href="/credit">Credit Account</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="transaction" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Pay & Transfer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/internal_trans">Internal transfer</a>
                        <a class="dropdown-item" href="/wire">Wire money</a>
                        <a class="dropdown-item" href="/recurring">Recurring Transfer</a>
                    </div>
                </li>

                {% endif %}
                <div class="collapse navbar-collapse justify-content-end">
                    <li class="nav-item active"><a class="nav-item nav-link" id="admin1" href="/">Home</a></li>

                </div>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="container"><text style="font-weight:bold; color:white; font-size:20px">"It’s our business to know your business."</text></div>
    {% endif %}
</nav>
{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %} {% for category, message in messages %} {% if category ==
'error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
{% block content %}

{% endblock %}


<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
></script>
<br/>
<div class="navbar bg-primary justify-content-center">
    <p style="color: white;text-align:center">CMPE-202: Team Project-------Contributors: Jinfan Zhang, Cong Li, Xuan
        Shi-------Contact: jinfan.zhang@sjsu.edu</p>
</div>
</body>
</html>