{% extends "base.html" %}
{% block title %}Internal Transfer{% endblock %}
{% block content%}
<div class="container">
    <form method="POST" id="internal">
        <br/>
        <div class="container"><h3>Internal Transfer</h3></div>
        <br>
        <div class="container">
            <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
            </label></div>
            <table class="table" id="t">
                <th>Account Type</th>
                <th>Balance Remaining</th>
                {% for account in user.accounts %}
                <tr>
                    <td>{{account.type}}</td>
                    <td>${{account.balance}}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
        <br>
        <div class="container">
            <div class="form-group">
                <label>From: </label>
                <select id="source" name="source">
                    <option value="checking">Checking Account</option>
                    <option value="saving">Saving Account</option>
                    <option value="credit">Credit Account</option>
                </select>
            </div>
            <div class="form-group">
                <label>To: </label>
                <select id="destination" name="destination">
                    <option value="checking">Checking Account</option>
                    <option value="saving">Saving Account</option>
                    <option value="credit">Credit Account</option>
                </select>
            </div>
            <div class="form-group">
                <label>Amount: </label>
                <input
                        type="number"
                        step="0.01"
                        class="form-control"
                        id="money"
                        name="money"
                        placeholder="Enter the money amount"
                />
            </div>

            <br/>
            <button type="submit" class="btn btn-primary">Issue transfer</button>
        </div>
    </form>

</div>
<script>
   var form = document.getElementById('internal')
   form.addEventListener('submit',function(e){
       e.preventDefault()
       var source1 = document.getElementById('source').value
       var destination1 = document.getElementById('destination').value
       var money1 = document.getElementById('money').value

       fetch("http://127.0.0.1:5000/internal_trans", {
           method: 'POST',
           body: JSON.stringify({

               source: source1,
               destination: destination1,
               money: money1,
           }),
           headers:{
               "Content-Type":"application/json; charset=UTF-8"
           }
       })
       .then(function(response){
           var url = "http://127.0.0.1:5000"
           window.location = url
           console.log(response)
       })
       .then(function(data){
           console.log("hll")
           console.log(data)
       })
   })
</script>

{%endblock%}