{% extends "base.html" %}
{% block title %}Cancel Recurring Task{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <div class="container"><h3>Cancel Recurring Task</h3></div>
    <br>
    <div class="container">
        <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
        </label></div>
        <table class="table" id="t">
            <th>Account Type</th>
            <th>Balance Remaining</th>
            {% for account in user.accounts %}
            <tr>
                <td>{{account.type}}</td>
                <td>${{account.balance}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <br>
    <div class="container">
        <form method="POST" action="/re_cancel">
            {% for j in jobs %}
            <input type="radio" id={{j}} name="cancel" value={{j[0]}}>
            <label for={{j}}>{{j[1]}}</label><br>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Cancel recurring task</button>
        </form>
    </div>


</div>
{%endblock%}