{% extends "base.html" %}
{% block title %}Recurring Internal Transfer{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <div class="container"><h3>Recurring Internal Transfer</h3></div>
    <br>
    <div class="container">
        <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
        </label></div>
        <table class="table" id="t">
            <th>Account Type</th>
            <th>Balance Remaining</th>
            {% for account in user.accounts %}
            <tr>
                <td>{{account.type}}</td>
                <td>${{account.balance}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <br>
    <div class="container">
        <form method="POST" action="/re_internal" id="reInternal">
            <label>From: </label>
            <select id="source" name="source">
                <option value="checking">Checking Account</option>
                <option value="saving">Saving Account</option>
                <option value="credit">Credit Account</option>
            </select>
            <label>To: </label>
            <select id="destination" name="destination">
                <option value="checking">Checking Account</option>
                <option value="saving">Saving Account</option>
                <option value="credit">Credit Account</option>
            </select>
            <br/>
            <label>Amount: </label>
            <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="money"
                    name="money"
                    placeholder="Enter the money amount"
            />
            <br/>
            <label>Period: </label>
            <select id="period" name="period">
                <option value="demo">Demo(5 seconds repeating)</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
            <label>Start date: </label>
            <input type="date" id="date" name="date">
            <br/><br/>
            <button type="submit" class="btn btn-primary">Issue transfer</button>
        </form>
        <br/>
        <button onclick="location.href='/recurring'" class="btn btn-primary">Back</button>
    </div>

</div>

<script>
   var form = document.getElementById('reInternal')
   form.addEventListener('submit',function(e){
       e.preventDefault()
       var source1 = document.getElementById('source').value
       var destination1 = document.getElementById('destination').value
       var money1 = document.getElementById('money').value
       var period1 = document.getElementById('period').value
       var date1 = document.getElementById('date').value

       fetch("http://127.0.0.1/re_internal", {
           method: 'POST',
           body: JSON.stringify({

               source: source1,
               destination: destination1,
               money: money1,
               period: period1,
               date: date1

           }),
           headers:{
               "Content-Type":"application/json; charset=UTF-8"
           }
       })
       .then(function(response){
           var url = "http://127.0.0.1/"
           window.location = url
           console.log(response)
       })
       .then(function(data){
           console.log("hll")
           console.log(data)
       })
   })
</script>
{%endblock%}