{% extends "base.html" %}
{% block title %}Recurring Internal Transfer{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <div class="container"><h3>Recurring Internal Transfer</h3></div>
    <br>
    <div class="container">
        <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
        </label></div>
        <table class="table" id="t">
            <th>Account Type</th>
            <th>Balance Remaining</th>
            {% for account in user.accounts %}
            <tr>
                <td>{{account.type}}</td>
                <td>${{account.balance}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <br>
    <div class="container">
        <form method="POST" action="/re_internal">
            <label>From: </label>
            <select id="source" name="source">
                <option value="checking">Checking Account</option>
                <option value="saving">Saving Account</option>
                <option value="credit">Credit Account</option>
            </select>
            <label>To: </label>
            <select id="destination" name="destination">
                <option value="checking">Checking Account</option>
                <option value="saving">Saving Account</option>
                <option value="credit">Credit Account</option>
            </select>
            <br/>
            <label>Amount: </label>
            <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="money"
                    name="money"
                    placeholder="Enter the money amount"
            />
            <br/>
            <label>Period: </label>
            <select id="period" name="period">
                <option value="demo">Demo(5 seconds repeating)</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
            <label>Start date: </label>
            <input type="date" id="date" name="date">
            <br/><br/>
            <button type="submit" class="btn btn-primary">Issue transfer</button>
        </form>
        <br/>
        <button onclick="location.href='/recurring'" class="btn btn-primary">Back</button>
    </div>


</div>
{%endblock%}