{% extends "base.html" %}
{% block title %}Recurring Wire Transfer{% endblock %}
{% block content%}
<div class="container">
    <br/>
    <div class="container"><h3 align="left">Recurring Wire Transfer</h3></div>
    <br>

    <div class="container">
        <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
        </label></div>
        <table class="table" id="t">
            <th>Account Type</th>
            <th>Balance Remaining</th>
            {% for account in user.accounts %}
            <tr>
                <td>{{account.type}}</td>
                <td>${{account.balance}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <div class="container">
        <form method="POST" action="/re_wire" id="rewire">
            <label>Name: </label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter the name of user you want to transfer money to"
            />
            <label>Email: </label>
            <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter the email of that user"
            />
            <label>Amount: </label>
            <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="money"
                    name="money"
                    placeholder="Enter the money amount"
            />
            <label>Description: </label>
            <input
                    type="text"
                    class="form-control"
                    id="note"
                    name="note"
                    placeholder="Enter the description"
            /><br/>
            <label>Method: </label>
            <select id="method" name="method">
                <option value="credit">Credit</option>
                <option value="debit">Debit</option>
                <option value="check">Check</option>
                <option value="fee">Fee</option>
            </select>
            <label>Period: </label>
            <select id="period" name="period">
                <option value="demo">Demo(5 seconds repeating)</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
            <label>Start date: </label>
            <input type="date" id="date" name="date">
            <br/>
            <button type="submit" class="btn btn-primary">Issue transfer</button>
        </form>
        <br/>
        <button onclick="location.href='/recurring'" class="btn btn-primary">Back</button>
    </div>
</div>

<script>
   var form = document.getElementById('rewire')
   form.addEventListener('submit',function(e){
       e.preventDefault()
       var name1 = document.getElementById('name').value
       var email1 = document.getElementById('email').value
       var note1 = document.getElementById('note').value
       var money1 = document.getElementById('money').value
       var period1 = document.getElementById('period').value
       var date1 = document.getElementById('date').value

       fetch("http://127.0.0.1/re_wire", {
           method: 'POST',
           body: JSON.stringify({

               name: name1,
               email: email1,
               money: money1,
               period: period1,
               note: note1,
               date: date1

           }),
           headers:{
               "Content-Type":"application/json; charset=UTF-8"
           }
       })
       .then(function(response){
           var url = "http://127.0.0.1/"
           window.location = url
           console.log(response)
       })
       .then(function(data){
           console.log("hll")
           console.log(data)
       })
   })
</script>

{%endblock%}