{% extends "base.html" %}
{% block title %}Recurring Transfer{% endblock %}
{% block content%}
<div class="container">
    <form method="POST">
        <br/>
        <div class="container"><h3 align="left">Recurring Transfer</h3></div>
        <br>

        <div class="container">
            <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
            </label></div>
            <table class="table" id="t">
                <th>Account Type</th>
                <th>Balance Remaining</th>
                {% for account in user.accounts %}
                <tr>
                    <td>{{account.type}}</td>
                    <td>${{account.balance}}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
        <div class="container">
            <form action="/recurring">
                <p>What would you like to do?</p>
                <input type="radio" id="internal" name="method" value="internal">
                <label for="internal">Recurring Internal Transfer</label><br>
                <input type="radio" id="wire" name="method" value="wire">
                <label for="wire">Recurring Wire Transfer</label><br>
                <input type="radio" id="cancel" name="method" value="cancel">
                <label for="cancel">Cancel ongoing recurring task</label><br>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
            <br/>
        </div>
    </form>

</div>
{%endblock%}