{% extends "base.html" %}
{% block title %}Recurring Transfer{% endblock %}
{% block content%}
<div class="container">
    <form method="POST">
        <br/>
        <div class="container"><h3 align="left">Recurring Transfer</h3></div>
        <br>

        <div class="container">
            <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
            </label></div>
            <table class="table" id="t">
                <th>Account Type</th>
                <th>Balance Remaining</th>
                {% for account in user.accounts %}
                <tr>
                    <td>{{account.type}}</td>
                    <td>${{account.balance}}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
        <div class="container">
                <p>What would you like to do?</p>
                <a id="internal" href="/re_internal">Recurring Internal Transfer</a><br/>
                <a id="wire" href="/re_wire">Recurring Wire Transfer</a><br/>
                <a id="cancel" href="/re_cancel">Cancel Ongoing Recurring Task</a><br/>
            <br/>
        </div>
    </form>

</div>

{%endblock%}