{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%block nav%}
<text style="font-weight:bold; color:white; font-size:20px">User Information</text>
<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar1"
>
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbar1">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-item nav-link" id="home" href="/">Home</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content%}
<div class="container">
    <p style="font-weight:bold">Username: {{user.username}}</p>
    <p style="font-weight:bold">First name: {{user.first_name}}</p>
    <p style="font-weight:bold">Last name: {{user.last_name}}</p>
    <p style="font-weight:bold">Email address: {{user.email}}</p>
    <p style="font-weight:bold">Address: {{user.address}}</p>
    <a id="edit" href="/edit_user_info">Edit user information</a>
</div>
{%endblock%}