{% extends "base.html" %}
{% block title %}Wire Transfer{% endblock %}
{% block content%}
<div class="container">
    <form method="POST" id="wire">
        <br/>
        <div class="container"><h3 align="left">Wire Transfer</h3></div>
        <br>

        <div class="container">
            <div class="container"><label for="t"><h6 class="font-italic text-body font-weight-bolder">BALANCE: </h6>
            </label></div>
            <table class="table">
                <th>Account Type</th>
                <th>Balance Remaining</th>
                {% for account in user.accounts %}
                <tr>
                    <td>{{account.type}}</td>
                    <td>${{account.balance}}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
        <div class="container">
            <div class="form-group">
                <label>Name: </label>
                <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Enter the name of user you want to transfer money to"
                />
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Enter the email of that user"
                />
            </div>
            <div class="form-group">
                <label>Amount: </label>
                <input
                        type="number"
                        step="0.01"
                        class="form-control"
                        id="money"
                        name="money"
                        placeholder="Enter the money amount"
                />
            </div>
            <div class="form-group">
                <label>Description: </label>
                <input
                        type="text"
                        class="form-control"
                        id="note"
                        name="note"
                        placeholder="Enter the description"
                />
            </div>
            <div class="form-group">
                <label>Method: </label>
                <select id="method" name="method">
                    <option value="credit">Credit</option>
                    <option value="debit">Debit</option>
                    <option value="check">Check</option>
                    <option value="fee">Fee</option>
                </select>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Issue transfer</button>
        </div>
    </form>

</div>
<script>
   var form = document.getElementById('wire')
   form.addEventListener('submit',function(e){
       e.preventDefault()
       var name1 = document.getElementById('name').value
       var email1 = document.getElementById('email').value
       var money1 = document.getElementById('money').value
       var note1 = document.getElementById('note').value
       var method1 = document.getElementById('method').value


       fetch("http://127.0.0.1:5000/wire", {
           method: 'POST',
           body: JSON.stringify({

               name: name1,
               email: email1,
               money: money1,
               note: note1,
               method: method1

           }),
           headers:{
               "Content-Type":"application/json; charset=UTF-8"
           }
       })
       .then(function(response){
           var url = "http://127.0.0.1:5000"
           window.location = url
           console.log(response)
       })
       .then(function(data){
           console.log("hll")
           console.log(data)
       })
   })
</script>

{%endblock%}